@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300');


html,
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;

}

/* Swithc button for light mode and dark mode. */

.switch {
    position: absolute;
    top: 73%;
    left: 46%;
    z-index: 2;
}

input[type="checkbox"] {
    position: relative;
    width: 80px;
    height: 40px;
    -webkit-appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.22);
    transition: 0.5s;
    cursor: pointer;
}

input:checked[type="checkbox"] {
    background: #343638
}

input[type="checkbox"]:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.19);
    transition: 0.5s;
}

input:checked[type="checkbox"]:before {
    left: 40px;
    background: #ffffff;
}

/*-----------------*/

header {
    height: 100vh;
}

.page-zero {
    background-size: cover;
    margin: 0;
    overflow-x: hidden;
    background-attachment: fixed;

}

/* Nav Bar*/

.li {
    text-decoration: none;
    list-style: none;
    transition: all 0.5s;
}

a {
    text-decoration: none;
    color: inherit;
}

.dropdown {
    position: relative;
    display: inline;
    transition: all 0.5s;
}

.dropdown-c {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.32);
    min-width: 100px;
    z-index: 1;
    right: 1%;
    min-height: 200px;
    margin-top: 50px;
    transition: all 0.5s;
    text-align: center;
    line-height: 40px
}

.dropdown:hover .dropdown-c {
    display: block;
    transition: all 0.5s;
}

.dropdown-c a:hover {
    transform: scale(1.2)
}

.dropdown-c a {
    display: block;
    transition: all 0.5s;
}

.stt:hover {
    opacity: .5;
    z-index: 2;
}

.stt {
    border: solid white;
    max-width: 10%;
    text-align: center;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    position: fixed;
    text-shadow: 1.5px 1.5px black;
    box-shadow: 1px 1px 1px 1px black;
    top: 90%;
    right: 5%;

}

.navs {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 21px;
    height: 30%;
    font-family: 'Josefin Sans', sans-serif;
}

.ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
    text-decoration: none;
    margin-left: 64%;
    transition: all 0.2s;
    height: 20%;
    font-family: 'Josefin Sans', sans-serif;
}

.li {
    float: left;
    display: block;
    padding: 15px 14px;
    transition: all 0.2s;
    height: 20%;
    font-family: 'Josefin Sans', sans-serif;

}

.li:hover {
    color: #c6c6c6;
    transform: scale(1.2);
}

.navs .name a {
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 21px;
    position: absolute;
    padding: 15px 14px;
    cursor: context-menu;

}

/*----------Drop Down Menu for Media Queries----------*/

header {
    transition: margin-left .5s;
}

.drop {
    display: none;
    background: inherit;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.2s;
    height: 100%;
    background: inherit;
}

.drop a {
    text-decoration: none;
    font-size: 35px;
    color: inherit;
    display: block;
    transition: 0.2s;
    padding: 30px;
    color: inherit;
}

.drop a:hover,
:focus {
    color: rgb(141, 141, 141);
}

.drop .button {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

span {
    display: none;
    font-size: 40px;
    cursor: pointer;
    color: inherit;
}

/*----------Button and Header----------*/

.welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font: normal 300 64px/1 'Josefin Sans', sans-serif;
    text-align: center;
    white-space: nowrap;
}

.show {
    display: block;
}

/*--------------------*/

/*-----Scroll Bar-----*/

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #e3dcdc;
}

::-webkit-scrollbar-thumb {
    background: #817d7d;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*--------------------*/

/*--------Section1---------*/

.section1 {
    height: 50%;
    background-color: #ffffff;
    width: 100%;
    margin: auto 0;
    padding-bottom: 2%;

}

.about {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 300%;
    padding: 20px
}

.section1 p {
    font-size: 24px;
    margin: 0 auto;
    max-width: 1200px;
}

.section1 h1 {
    padding: 15px;
}

/*--------------------*/
/* D/L for Media Nav*/
body.light-mode span{
    color: black;
}
body.light-mode #nav{

background-color: #d3d3d3;
}
body.light-mode #nav a{
    color: black;
}
body.dark-mode #nav{
 background: linear-gradient(-180deg, #232323, #3a3a3a, #404040, #414141);
}
/* Dark and Light Mode for repeated classes*/
body.light-mode .section2-1{
    background-color: white;
}
body.dark-mode .section2-1{
    color: #bebebe;
    background-color: #111;
}
body.dark-mode .summary2{
    color: white;
    background-color: #111
}
body.light-mode{
    transition: 0.2s;
}
body.dark-mode {
    background-color: #111;
    color: #eee;
    transition: 0.2s;
}
/*--------Page 1 Dark/Light Mode---------*/
body.dark-mode .section1 {
    background-color: #111;
    color: #d3d3d3;
    transition: 0.2s;

}
body.dark-mode .page-zero{
    background-image: url(../Picture/Dark/SF-Bridge.jpg);
    transition: 0.2s;
}
body.light-mode .page-zero {
    background-image: url(../Picture/Light/DesktopPhone.jpg);
    background-size: cover;
    color: black;
    background-attachment: fixed;
    transition: 0.2s;
}

body.light-mode header {
    color: black;
    transition: 0.2s;

}
/* Page 2 D/L*/

body.light-mode .resume{
    background-image: url(../Picture/Light/NYC.jpg);
    background-size: cover;
    background-attachment: fixed;
    transition: 0.2s;
}
body.dark-mode .resume{
    color: white;
    background-image: url(../Picture/Dark/blackstreet.jpg);
    background-attachment: fixed;
    background-size: cover;
    transition: 0.2s;
}
/* Page 4 D/L*/
body.light-mode .page4{
    background:linear-gradient(-42455555280deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 24%, rgba(209,209,209,1) 49%, rgba(196,196,196,1) 73%, rgba(184,180,184,1) 100%);
    transition: 0.2s;
}
body.dark-mode .page4{
    background: #111;
    transition: 0.2s;
}
/* page 3 d/l*/
body.light-mode .portfolio{
    background-image: url(../Picture/Light/apple-magic-keyboard-coffee-desk-162616.jpg);
    transition: 0.2s;
}
body.dark-mode .portfolio{
    background-image: url(../Picture/Dark/RoadTailLights.jpg);
    transition: 0.2s;
}
/*page 5*/
body.light-mode .page5{
    background-image: url(../Picture/Light/ball.jpg);
    transition: 0.2s;
}
body.dark-mode .page5{
    background-image: url(../Picture/Dark/blur-cars-city-409701.jpg);
    transition: 0.2s;
}
/*page 6*/
body.light-mode .writing{
    background-image: url(../Picture/Light/notebook.jpg);
    background-attachment: fixed;
    background-size: cover;
    transition: 0.2s;
}
body.dark-mode .writing{
    background-image: url(../Picture/Dark/action-asphalt-blur-315934.jpg);
    background-attachment: fixed;
    background-size: cover;
    transition: 0.2s;
    
}
/*--------Page 2---------*/

.resume {
    background-image: url(../Picture/Light/bird.jpg);
    background-size: cover;
    background-attachment: fixed;


}

.summary2 {
    top: 50%;
    height: 50%;
    width: 50%;
    margin: auto;
    background-color: aliceblue;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 200%;
    padding: 10px;
}

.summary2 h1 {
    text-align: center;
}

.summary2 p {
    padding: 20px
}

.section2-1 {
    background-color: white;
    font-size: 130%;
    padding: 15px;
    margin: auto 0;
    max-width: 130%;
    padding: 40px

}
.section2-1 p{
    max-width: 80%;
    margin-left: 10%;
    font-size: 120%
}
.section2-1 h1{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    
}
.RTop {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px;
}

.h2top {
    text-align: center;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif
}

.resumeLi {
    list-style: none
}

.resumeLi li:hover {
    transform: scale(1);
    color: black;
}

.recommendation {
    max-height: 50%;
    max-width: 50%;
    padding: 5px;
    transition: all .2s;
}

.recommendation:hover {
    transform: scale(1.2);
}

/*--------------------*/

/*--------Projects--------*/

.portfolio {
    background: url(../Picture/Light/apple-magic-keyboard-coffee-desk-162616.jpg);
    background: url(../Picture/Light/apple-magic-keyboard-coffee-desk-162616.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.projectimg{
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
}
/*--------------------*/

/*--------Contact Me Page---------*/

.page4 {
    background:linear-gradient(-42455555280deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 24%, rgba(209,209,209,1) 49%, rgba(196,196,196,1) 73%, rgba(184,180,184,1) 100%);
    
}
.contact{
    position: relative;
    padding: 10px;
    font-family: 'Josefin Sans', sans-serif;
    left: 15%;
    width: 83.3%
    
}
.contacts{
    position: absolute;
    top: 0%;
    left: 37%
}
.contacts li{
    text-decoration: none;
    list-style: none;
    display: block;
}
input[type="text"]{
    padding:10px
}
input[type="submit"],input[type="reset"]{
    background-color: white;
    position: relative;
    width: 80px;
    height: 40px;
    -webkit-appearance: none;
    background: white;
    outline: none;
    border-radius: 7px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.22);
    transition: 0.5s;
    cursor: pointer;
}

textarea{
    width: 30.2%;
    height: 200px;
    resize: none;
    font-size: 110%;
    padding: 10px;
}
.socialm{
    display: flex;
    color: black;
}
/*--------Footer---------*/

footer {
    height: 40%;
    display: flex;
    background: #776363;
    background: linear-gradient(-180deg, #232323, #3a3a3a, #404040, #414141);
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    padding-bottom: 10px;

}

footer h2 {
    margin-left: 9%
}
footer li{
    list-style: none;
    transition: 0.2s;
    
}
footer li:hover{
    color: #c6c6c6;
    transform: scale(1.2)
}
.left-side {

    width: 33.33%;
    margin-left: 1%;
    padding-top: 1%;
    text-align: center;
    font-size: 20px;


}

.footer-li {
    list-style: none;
    flex: 1;
    padding: 3%;
    font-size: 20px;
    text-align-last: center;
    cursor: context-menu;

}


.middle-side {
    list-style: none;
    padding: 20px;
    text-align: center;
    width: 33.33%;
    font-size: 20px
}

.middle-side li {
    padding: 6px;
}

.right-side {
    width: 33.33%;
    float: right;
    text-align-last: center
}

.right-side li:hover {
    opacity: .5;
}

/*--------------------*/

/*--------Page 5-----------*/
.page5{
    background-image: url(/Picture/Light/ball.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.photo{
font-size: 200%;
    max-width: 1200px;
    margin-left: 13%;
    background: white;
}
.slideshow {
    position: relative;
    max-width: 900px;
    margin: auto;
    padding-top: 20px;
}

.slideshow img {
    transition: ease 0.5s;
}

.slideshow a svg {
    fill: #fff;
}

.pbutton,
.nbutton {
    position: absolute;
    top: 50%;
    padding: 20px;
    transition: 0.5s;
}

.nbutton {
    right: 0;
    border-radius: 0 3px 3px 0
}

.pbutton:hover,
.nbutton:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/*--------------------*/

/*--------Media Query for---------*/
@media screen and (max-width: 1078px){
     .navs {
        display: none;
    }
    .drop {
        display: inline;
    }
    span {
        display: inline;
    }
    .contacts{
        position: absolute;
    }
    .contact{
        position: absolute;
    }
}
@media screen and (max-width: 992px) {
  .stt {
        display: none;
    }
    
    
    .summary2 {
        width: 100%;
        height: 100%;

    }
    /*-------Navs--------*/
    .navs {
        display: none;
    }
    .drop {
        display: inline;
    }
    span {
        display: inline;
    }
}
@media only screen and (max-width: 375px) and (max-height: 812px) {

    .stt {
        display: none;
    }
    .left-side {
        display: none
    }
    footer {
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0px 20px
    }
    .right-side {
        display: none;
    }
    .summary2 {
        width: 100%;
        height: 100%;

    }
    /*-------Navs--------*/
    .navs {
        display: none;
    }
    .drop {
        display: inline;
    }
    span {
        display: inline;
    }
}
@media screen and (max-width: 534px){
     footer {
        text-align: center;
        
    }
    .left-side{
        display: none;
    }
    .middle-side{
        margin-left: 12%
    }
    .right-side{
        display: block;
    }
    .contacts{
        position: absolute;
        left: -7%;
        top: 110%;
    }
}
