@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300');


html {
    padding: 0;
    margin: 0;
}

header {
    height: 100vh;
}

body {
    background-image: url(/Picture/wood.jpeg);
    background-size: cover;
    margin: 0;
    overflow-x: hidden;
    background-attachment: fixed;

}
li{
    text-decoration: none;
    list-style: none;
    transition: all 0.5s;
}
a {
    text-decoration: none;
    color: inherit;
}

.stt:hover{
    opacity: .5;
    z-index: 2;
}
.stt{
    border: solid white; 
    max-width: 10%;
    text-align: center;
    padding: 10px 10px; 
    border-radius:10px;
    background-color: transparent;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    -webkit-transform: translate(3400%, 1900%);
    transform: translate(3400%, 1900%);
    position: fixed;
    text-shadow: 1.5px 1.5px black;
    box-shadow: 1px 1px 20px black ;
    z-index: 2;
    
}
.navs {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 21px;
}

.ul {
    overflow: hidden;
    margin: 0;
    
    padding: 0;
    color: white;
    text-decoration: none;
    text-decoration-color: white;
    margin-left: 74%;
    transition: all 0.5s;
    font-size: 
}

.li {
    float: left;
    color: white;
    display: block;
    padding: 15px 14px;
    transition: all 0.5s;

}

li:hover {
    color: #c6c6c6;
}

.name {
    text-decoration: none;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 21px;
    position: absolute;
    padding: 15px 14px;

}

/*A----------Button and Header----------*/

.welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    font: normal 300 64px/1 'Josefin Sans', sans-serif;
    text-align: center;
    white-space: nowrap;
}

.demo a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    transition: opacity .3s;
}

.demo a:hover {
    opacity: .5;
}

#section0 a {
    padding-top: 60px;
}

#section0 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 1px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;
}

#section0 a span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}

/*--------------------*/

/*-----Scroll Bar-----*/

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #e3dcdc;
}

::-webkit-scrollbar-thumb {
    background: #817d7d;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/*--------------------*/


/*--------Section1---------*/
#section1 {
    height: 50%;
    background-color: #ffffff;
    width: 100%;
    margin: auto 0;
    padding-bottom: 2%;

}
.about{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 300%;
    margin-top: 
    
    

}
#section1 p{
    font-size: 24px;
     margin: 0 auto;
    max-width: 1200px;
}
#section1 h1{
 padding: 15px
}
/*--------------------*/

/*--------Section2---------*/

#section2 h1{
    
}
.codd{
     background-image: url(/Picture/codde.jpeg);
    background-attachment: fixed;
}

/*--------------------*/

/*--------Section 3---------*/


/*--------------------*/

/*-------- ---------*/
/*--------------------*/

/*-------- ---------*/
/*--------------------*/

/*-------- ---------*/
/*--------------------*/

/*-------- ---------*/
/*--------------------*/

/*--------Footer---------*/
footer{
    height: 36vh;
    display: flex;
    background:#776363; 
    background: linear-gradient(-180deg,#000000,#2e2e2e, #2f2f2f,#313131);
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    
}
.left-side{
    
}
.left-side{
   
    width: 33.33%;
    margin-left: 1%;
    padding-top: 1%;
    text-align: center;
    font-size: 20px;
    
    
}
.footer-li{
    list-style: none;
    flex: 1;

    padding: 3%;
    font-size: 20px;
    text-align-last: center;
    cursor: context-menu;
    
}
.middle-side h2{
    
}
.middle-side{
    list-style: none;
    padding: 20px; 
    text-align: center;
    width: 33.33%;
    font-size: 20px
}
.middle-side li{
    padding:6px;
}
.right-side{
    width: 33.33%;
    float: right;
    padding:20;
    text-align-last: center
}
.right-side li:hover{
    opacity: .5;
}
   
/*--------------------*/































































